<div class="pip-chip rm4 pip-type-chip pip-type-chip-left {{'bg-' + $ctrl.type + '-chips'}}"
     ng-if="$ctrl.type && !$ctrl.typeLocal">

    <span>{{$ctrl.type.toUpperCase() | translate | uppercase}}</span>
</div>
<div class="pip-chip rm4 pip-type-chip pip-type-chip-left {{'bg-' + $ctrl.type + '-chips'}}"
     ng-if="$ctrl.type && $ctrl.typeLocal">

    <span>{{$ctrl.typeLocal.toUpperCase() | translate | uppercase}}</span>
</div>
<div class="pip-chip rm4" ng-repeat="tag in $ctrl.tags">
    <span>{{::tag}}</span>
</div>