<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>List Controls</title>

    <link rel="stylesheet" href="../../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../../dist/pip-webui-lists.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../../lib/pip-webui-lib.js"></script>
    <script src="../../dist/pip-webui-lists.js"></script>

    <script src="index.js"></script>

    <script src="ref_list/ref_list.js"></script>
    <script src="selected/selected.js"></script>
    <script src="focused/focused.js"></script>
    <script src="infinite_scroll/infinite_scroll.js"></script>
    <script src="chips/chips.js"></script>
    <script src="check_list/check_list.js"></script>

    <script src="dividers/dividers.js"></script>
    <script src="ref_list/ref_item.js"></script>

    <script src="simple_list/simple_list.js"></script>

    <script src="table/table.js"></script>
    <script src="tag_list/tag_list.js"></script>
</head>

<body ng-app="appLists" ng-controller="AppController" md-theme="{{ $theme || 'blue' }}" class="{{ $theme }} pip-main layout-column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu"
                       ng-click="onToggleMenu()" hide-gt-sm>
                <md-icon md-svg-icon="icons:menu"></md-icon>
            </md-button>
            <div class="flex-var text-overflow">Lists</div>
        </div>
    </md-toolbar>
        
    <div class="layout-row flex">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                    class="md-whiteframe-z2 md-sidenav-left layout-column">
            <md-list>
                <md-list-item ng-repeat="contentItem in content" 
                    ng-click="onSwitchPage(contentItem.state)"
                    ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                    <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>
        
        <md-content id="content" class="flex" style="padding: 24px">
            <div ui-view></div>            
        </md-content>
    </div>
</body>
</html>