// @file CSS styles for selected list items
// @copyright Digital Living Software Corp. 2014-2015

md-list-item {
  &.pip-selectable {
    button {
      border-left: none!important;
      padding-left: 21px!important;
    }

    &.selected {
      button {
        padding-left: 16px!important;
        background-color: rgba(158,158,158,.2);
        border-left: 5px solid rgba(33, 150, 243, 0.5) !important;
      }
    }
  }
  
  &.pip-selectable-tree {
    button {
      border-left: none!important;
    }

    &.selected {
      & > button {
        background-color: rgba(158, 158, 158, .2);
        border-left: 5px solid rgb(3, 169, 244) !important; //#2196f3;
      }
    }
  }

  &.pip-selectable-tree > button {
    padding-right: 0;
  }

  &.pip-selectable.pip-simple-list-item {
      border-left: none!important;
      padding-left: 21px!important;

    &.selected {
        padding-left: 16px!important;
        background-color: rgba(158,158,158,.2);
        border-left: 5px solid rgba(33, 150, 243, 0.5) !important;

    }
  }

  &.pip-selectable.pip-ref-list-item {
      border-left: none!important;
      padding-left: 21px!important;

    &.selected {
        padding-left: 16px!important;
        background-color: rgba(158,158,158,.2);
        border-left: 5px solid rgba(33, 150, 243, 0.5) !important;

    }
  }  
}

md-list-item.pip-list-no-click {

  &.pip-selectable {

    .md-no-style{
      border-left: none!important;
      padding-left: 21px!important;
    }

    &.selected .md-no-style {
      padding-left: 16px!important;
      background-color: rgba(158,158,158,.2);
      border-left: 5px solid rgba(33, 150, 243, 0.5) !important;

    }
  }

}